.sidebar {
  background: rgb(34, 37, 44);
  // background: linear-gradient(
  //   180deg,
  //   rgba(26, 28, 33, 1) 0%,
  //   rgba(42, 47, 55, 1) 49%,
  //   rgba(62, 69, 80, 1) 100%
  // );
  width: 300px;
  min-width: 300px;
  height: 100%;
  .logo {
    height: 120px;
    display: flex;
    align-items: center;
    padding: 30px;
    color: white;
    .underscore {
      color: rgb(0, 255, 157);
      font-weight: 600;
    }
    .icon {
      display: flex;
      color: rgb(0, 255, 157);
      align-items: center;
      margin-right: 5px;
      svg {
        height: 28px;
        width: 28px;
      }
    }
  }
  .categories {
    .category {
      display: flex;
      align-items: center;
      font-size: 14px;
      height: 50px;
      margin: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
      .item {
        transition: 0.2s;
        padding: 0 15px;
        display: flex;
        .icon {
          display: flex;
          align-items: center;
          margin-right: 10px;
          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
      &:not(.active):hover {
        background-color: rgba(71, 77, 90, 0.2);
        .item {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    .active {
      color: rgb(0, 255, 157);
      background-color: rgba(71, 77, 90, 0.4);
      .marker {
        width: 7px;
        height: 100%;
        background-color: rgb(0, 255, 157);
        margin-left: auto;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        // animation: heartbeat 1s infinite;
      }
    }
  }
}
